@import 'tailwindcss';
@import '@fontsource/fira-mono';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

/* Custom variant for data-mode dark mode strategy */
@custom-variant dark (&:where([data-mode=dark], [data-mode=dark] *));

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/concord';
